/* global changes */
*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
:root{
    /* ===== XY-rotarions-cards ===== */
    --rx: 0deg;
    --ry: 0deg;
    
    /* ===== Colors ===== */
    --color-bg-main: #0f1a1a;
    --color-bg-dark: #000000;
    --color-gold: #ebca55;
    --color-gold-soft: rgba(235, 202, 85, 0.08);
    --color-text-main: #ebe8e8;
    --color-text-muted: #d1d5db;
    --shadow-gold: rgba(235, 202, 85, 0.5);
    /* ===== Blur ===== */
    --blur-main: 5px;
    --blur-sec: 2px;

    /* ===== Gaps ===== */
    --main-gap: 30px;
    --sec-gap: 20px;
    /* ===== Spacing ===== */
    --section-spacing: 70px;

    /* ===== Radius ===== */
    --radius-main: 15px;

    /* ===== Transition ===== */
    --transition-fast: 0.4s ease;
    --transition-main: 0.8s ease;
    --transition-float: 2s ease-in-out;
    --transition-main-duration: 0.5s;

}
ul{
    list-style: none;
}


html{
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    background: var(--color-bg-main);
}

.container{
    padding: 0px 15px;
    margin: 0px auto;
}
/* small */
@media (min-width:768px){
    .container{
        width: 750px;
    }
}
/* mediam */
@media (min-width:992px){
    .container{
        width: 970px;
    }
}
/* large */
@media (min-width:1200px){
    .container{
        width: 1170px;
    }

}
.main-head{
    text-align: center;
    color: var(--color-text-main);
    position: relative;
}
.main-head::after{
    content: "";
    position: absolute;
    width: 60px;
    height: 3px;
    background: var(--color-gold);
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}
.main-head::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--color-bg-main);
    left: 0;
    top: calc(calc(var(--section-spacing) + 5px) * -1);
    box-shadow: 0 10px 40px 30px var(--color-bg-main);
}
.main-head .main-title{
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.main-head .main-title span{
    color: var(--color-gold);
    position: relative;
}
.main-head .main-title span::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -8px;
    left: 0;
    background: var(--color-gold);
}
.main-head .description{
    font-size: 1.1rem;
    margin-bottom: 70px;
    color: var(--color-text-muted);
}


/* ===== NAVBAR BASE ===== */

header {
    position: absolute;
    width: 100%;
    top: 20px;
    left: 0;
    z-index: 2000;
    padding: 10px 0;
}


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    background: rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(var(--blur-main));
    -webkit-backdrop-filter: blur(var(--blur-main));
    border-radius: 15px;
    padding: 12px 25px;
    border: 1px solid rgba(255, 255, 255, 0.1); 
    box-shadow: 
        inset 4px 4px 10px rgba(0, 0, 0, 0.5), 
        inset -1px -1px 5px rgba(255, 255, 255, 0.1),
        0 4px 15px rgba(0, 0, 0, 0.3); 
    transition: all var(--transition-main);
}
@media (max-width: 767px) {
    header .container {
        width: 95%;
        padding: 10px;
        gap: 10px;
        border-radius: 10px;

    }
}
header .container.active-nav {
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 
    inset 6px 6px 12px rgba(0, 0, 0, 0.6), 
    inset -1px -1px 5px rgba(255, 255, 255, 0.1);
}
header .logo{
    display: flex;
    flex-shrink: 0;
    
}
header .logo div {
    font-size: 1.6rem;
    font-weight: 800;
    letter-spacing: 2px;
    color: var(--color-gold);
    text-shadow: 0 0 3px rgba(206, 172, 52, 0.685);
}

header .nav-links {

    position: absolute;
    top: 20px;
    right: 10%;
    display: flex;
    gap: 25px;
    
}


header  .nav-links li a {
    position: relative;
    font-size: 1.3rem;
    color: var(--color-gold);
    font-weight: 500;
    padding: 5px 10px;
    transition: 0.3s ease;
    display: block;
}


header .nav-links li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 0;
    height: 2px;
    background: var(--color-gold);
    transition: 0.3s ease;
}

header .nav-links li a:hover {
    color: var(--color-text-main);
}

header .nav-links li a:hover::after {
    width: 100%;
}

.toggle-menu {
    display: none;
    font-size: 1.4rem;
    color: var(--color-gold);
    cursor: pointer;
    transition: var(--transition-main) ;
}
.toggle-menu:hover{
    color: var(--color-text-muted);
}
/* ===== Mobile ===== */

@media (max-width: 922px) {
    .toggle-menu {
        display: block;
    }

    header .nav-links {
        top: 75px; 
        right: 7.5%; 
        flex-direction: column;
        width: 150px;
        padding: 15px 10px;
        border-radius: 15px;

        background: rgba(0, 0, 0, 0.3); 
        backdrop-filter: blur(var(--blur-sec));
        -webkit-backdrop-filter: blur(var(--blur-sec));

        border: 1px solid rgba(255, 255, 255, 0.1); 
        box-shadow: 
            inset 4px 4px 12px rgba(0, 0, 0, 0.5), 
            0 10px 25px rgba(0, 0, 0, 0.4); 

        opacity: 0;
        transform: translateY(10px);
        pointer-events: none;
        transition: opacity var(--transition-main-duration) cubic-bezier(0.4, 0, 0.2, 1), 
            transform var(--transition-main-duration) cubic-bezier(0.4, 0, 0.2, 1);
            /* background 0.3s ease, 
            box-shadow 0.3s ease; */
        
        z-index: 10;
    }

    header .nav-links.show-menu {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }
    /* header .nav-links:hover {
        background: rgba(0, 0, 0, 0.25);
        box-shadow: 
        inset 6px 6px 12px rgba(0, 0, 0, 0.6), 
        inset -1px -1px 5px rgba(255, 255, 255, 0.1);
    }*/
    header .nav-links li {
        margin-bottom: 10px;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }

    header .nav-links li:last-child {
        margin-bottom: 0;
        border-bottom: none;
    }

    header .nav-links li a {
        font-size: 0.97rem;
        display: block;
        color: var(--color-text-muted);
    }

    header .nav-links li a:hover {
        padding-left: 8px;
        color: var(--color-gold);
    }
    header .logo {
        font-size: 1.4rem;
    }
}
@media (max-width: 768px){
    header .nav-links {
        right: 3.5%;
    }
}
.landing{
    background-image: url(../resources/landing.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    
    
}
.landing::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: clamp(180px, 25vh, 320px);
    pointer-events: none;
    background: linear-gradient(
        to bottom,
        transparent 0%,
        transparent 50%,
        #0f1a1a 100%
    );
}

.landing .overlay{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.65) 0%,
        rgba(0, 0, 0, 0.60) 80%,
        rgba(0, 0, 0, 0.0) 100%
    );
    backdrop-filter: blur(var(--blur-sec));
    z-index: 5;
}
.landing .overlay .container{
    padding: 0px 20px;
    width: 85%;

}

.landing .overlay .text {
    position: relative;
    width: 100%;
    padding: 20px 0px;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.text-content {
    max-width: 650px;
    animation: fadeUp 1.2s ease forwards;
}

.landing .main-title {
    color: var(--color-text-main);
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-size: clamp(2rem, 5vw, 3.5rem);
    font-weight: 800;
    line-height: 1.2;
}

.landing  .main-title span {
    color: var(--color-gold);
    position: relative;
}

.landing .main-title span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -8px;
    left: 0;
    background: var(--color-gold);
}

.landing .sub-title {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--color-text-main);
    margin-bottom: 20px;
}

.landing .description {
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--color-text-muted);
    margin-bottom: 30px;
}



.cta-btn {
    display: inline-block;
    padding: 12px 25px;
    background: var(--color-gold);
    color: #000;
    font-weight: 600;
    border-radius: 30px;
    transition: 0.2s ease;
    box-shadow: 0 6px 0 var(--shadow-gold);
}

.cta-btn:hover {
    transform: translateY(3px);
    box-shadow: 0 3px 0 var(--shadow-gold);
}

.cta-btn:active {
    transform: translateY(6px); 
    box-shadow: 0 0 0 var(--shadow-gold);
}


@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Tablets */
@media (max-width: 992px) {
    .landing .overlay .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .landing .overlay .text {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .landing  .main-title {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }

    .landing  .sub-title {
        font-size: 1.5rem;
    }

    .landing  .description {
        font-size: 1rem;
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
    }

}

/* Mobile */
@media (max-width: 768px) {



    .landing .overlay .text {
        padding: 0 20px;
    }

    .landing  .text-content {
        max-width: 100%;
    }

    .landing .main-title {
        font-size: 2rem;
        letter-spacing: 1px;
        margin-bottom: 10px;
    }

    .landing .sub-title {
        font-size: 1.2rem;
    }

    .landing .description {
        font-size: 0.95rem;
    }

    .landing .cta-btn {
        padding: 10px;
    }

}

/* Small phones */
@media (max-width: 480px) {

    .landing  .main-title {
        font-size: 1.5rem;
        margin-bottom: 10px;

    }

    .landing .sub-title {
        font-size: 1rem;
    }

    .landing .description {
        font-size: 0.9rem;
    }

}

/* end of the landing */

/* start of the services */
.service{
    padding: var(--section-spacing) 0px;
    background: 
        radial-gradient(circle at 25% 50%, var(--color-gold-soft), #00000030 40%),
        var(--color-bg-main);
}
.service .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--main-gap);
    perspective: 1000px;
}
@media (min-width: 552px) and (max-width: 992px) {
    .service .container {
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr;
        gap: var(--sec-gap);

        
    }

    
    .service .container > :nth-child(1) {
        grid-column: 1;
        grid-row: 1/-1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .service .container > :nth-child(2) { 
        grid-column: 2;
        grid-row: 1;
    }
    .service .container > :nth-child(3) { 
        grid-column: 2;
        grid-row: 2;
    }
}
.serv-card{
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(var(--blur-main));
    -webkit-backdrop-filter: blur(var(--blur-main));
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1); 
    box-shadow: 
        inset 4px 4px 10px rgba(0, 0, 0, 0.5), 
        inset -1px -1px 5px rgba(255, 255, 255, 0.1),
        0 4px 15px rgba(0, 0, 0, 0.3); 
    transform-style: preserve-3d;
    transform: translate3d(0,0,0) rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));

    border-radius: var(--radius-main);
    transition: transform var(--transition-main),
                box-shadow var(--transition-main),
                backdrop-filter var(--transition-main);
    will-change: transform;
    backface-visibility: hidden;

}
.serv-card.active-card {
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 
    inset 6px 6px 12px rgba(0, 0, 0, 0.6), 
    inset -1px -1px 5px rgba(255, 255, 255, 0.1);
    transform: translateZ(15px) translateY(-8px) rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
}

@media (max-width: 551px) {
    .serv-card {
        animation: floatCard var(--transition-float) ease-in-out infinite;
    }

}
@keyframes floatCard {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-3px); }
    100% { transform: translateY(0px); }
}

.serv-card i {
    font-size: 2.5rem;
    color: var(--color-gold);
    margin-bottom: 15px;
}
.serv-card .card-head {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color-text-muted);
    margin-bottom: 10px;
}
.serv-card p {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-text-muted);
}
@media (min-width: 552px) and (max-width: 992px){
    .serv-card:nth-of-type(1) i{
        margin-bottom: 35px;
        font-size: 3rem;
    }
    .serv-card:nth-of-type(1) .card-head{
        margin-bottom: 20px;
        font-size: 1.5rem;
    }
    .serv-card:nth-of-type(1) p{
        font-size: 1.3rem;
    }
}
/* service ends */

/* gallary starts */

.gallery{
    padding: var(--section-spacing) 0px;
}
